@import "variables.scss";

/* You can add global styles to this file, and also import other style files */
$html-font-size-lg: 16px;
$html-font-size-md: 14px;
$html-font-size-sm: 12px;
$html-font-size-xs: 10px;

/* $paragraph-font-size-lg: 18px;
$paragraph-font-size-md: 16px;
$paragraph-font-size-sm: 14px;
$paragraph-font-size-xs: 12px;
 */
html {
    
    font-size: $html-font-size-lg;
    line-height: 23px;
    
    @media (max-width: 1024px) {
        font-size: $html-font-size-md;
    }
    
    @media (max-width: 640px) {
        font-size: $html-font-size-sm;
    }
    
    @media (max-width: 480px) {
        font-size: $html-font-size-xs;
    }
    
}

/* p {
    
    font-size: $paragraph-font-size-lg;
    
    @media (max-width: 1024px) {
        font-size: $paragraph-font-size-md;
    }
    
    @media (max-width: 640px) {
        font-size: $paragraph-font-size-sm;
    }
    
    @media (max-width: 480px) {
        font-size: $paragraph-font-size-xs;
    }
    
} */
.cont-owl{
    /* padding-left: 6rem;
    padding-right: 6rem; */
    img{
        /* border-radius: 1rem; */
        background-size: cover;
        background-position: center;
    }
    .carousel-image{
        //width: 18rem;
        height: 25rem;
        margin: 0 auto;
        /* border-radius: 1rem; */
        background-size: cover;
        background-position: center;
    }
    #customNav{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        .owl-prev, .owl-next {
            position: absolute;
            /* height: 100px; */
            color: inherit;
            background: none;
            border: none;
            font-size: 2rem;
            color: #fff;
            z-index: 100;
            border: solid 1px #fff;
            border-radius: 100%;
            width: 3.5rem;
            height: 3.5rem;
        }
        .owl-prev {
            left: .8rem;
        }
        
        .owl-next {
            right: .8rem;
        }
    }
}